<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,900">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        h1 {font-size: 56px;}
        p {font-weight: 100;}
        td {vertical-align: top;}
        #email {margin: auto; width: 600px; background-color: #fff;}
    </style>
</head>
<body style="width: 100%; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 18px; background-color: #F5F8FA;">
<div id="email">
    <table role="presentation" width="100%">
        <tr>
            <td bgcolor="#1795e6" align="center" style="color: white;">
                <h1>Đặt lại mật khẩu thành công!</h1>
            </td>
        </tr>
    </table>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="padding: 30px 30px 30px 60px;">
        <tr>
            <td>
                <h3 style="text-align: center;">
                    Mật khẩu của bạn đã được đặt lại là: <h2 style="text-align: center;">{{ password }}<h2/>
